<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCare - Sistema de Gestão</title>

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <section id="menu" class="active">
        <h1 class="title">MENU</h1>
        <div class="logo">
            <img src="../static/LogoPETCARE.png" alt="Logo PetCare">
            <h2>PETCARE</h2>
        </div>
        <div class="options">
            <div class="btn" onclick="goTo('cadastramento')">
                <span>Cadastrar / Atualizar Cliente</span>
            </div>
            <div class="btn" onclick="goTo('servicoMenu')">
                <span>Realizar Serviço</span>
            </div>
            <div class="btn" onclick="goTo('nota')">
                <span>Emitir nota fiscal</span>
            </div>
        </div>
    </section>

    <section id="cadastramento">
        <div class="back" onclick="goTo('menu')">⬅</div>
        <h1 class="title">CADASTRAMENTO</h1>
        <div class="logo">
             <img src="../static/LogoPETCARE.png" alt="Logo PetCare">
            <h2>PETCARE</h2>
        </div>
        <p style="font-size:28px;">O que deseja?</p>
        <div class="options">
            <div class="btn" onclick="goTo('cadastro-cliente')"><span>Cadastrar Cliente</span></div>
            <div class="btn" onclick="goTo('atualizar-cliente')"><span>Atualizar Cadastro</span></div>
        </div>
    </section>

    <section id="cadastro-cliente">
        <div class="back" onclick="goTo('cadastramento')">⬅</div>
        <h1 class="title">CADASTRO DE CLIENTE</h1>
        <input class="input" placeholder="Nome do Cliente">
        <input class="input" placeholder="Endereço do Cliente">
        <input class="input" placeholder="Telefone do Cliente">
        <input class="input" placeholder="CPF do Cliente">
        <div class="btn" onclick="goTo('cadastro-pet')"><span>Adicionar Pets</span></div>
    </section>

    <section id="atualizar-cliente">
        <div class="back" onclick="goTo('cadastramento')">⬅</div>
        <h1 class="title">ATUALIZAÇÃO DE CADASTRO</h1>
        <input class="input" placeholder="CPF Atual do Cliente">
        <input class="input" placeholder="Atualizar Nome">
        <input class="input" placeholder="Atualizar Endereço">
        <input class="input" placeholder="Atualizar Telefone">
        <input class="input" placeholder="Atualizar CPF">
        <div class="btn" onclick="goTo('cadastro-pet')"><span>Atualizar Pets?</span></div>
        <div class="btn-rect">Salvar Alterações</div>
    </section>

    <section id="cadastro-pet">
        <div class="back" onclick="goTo('cadastro-cliente')">⬅</div>
        <h1 class="title">CADASTRO DE PETS</h1>
        <input class="input" placeholder="Nome do Pet">
        <input class="input" placeholder="Espécie do Pet">
        <input class="input" placeholder="Raça do Pet">
        <input class="input" placeholder="Estatura do Pet">
        <input class="input" placeholder="Peso do Pet">
        <div>
            <button class="sex-btn sex-m">M</button>
            <span style="font-size:28px;">SEXO</span>
            <button class="sex-btn sex-f">F</button>
        </div>
        <div class="btn-rect">Cadastrar Pet e Adicionar Outro</div>
        <div class="btn-rect" onclick="goTo('menu')">Cadastrar Pet e Voltar ao Menu</div>
    </section>

    <section id="servicoMenu">
        <div class="back" onclick="goTo('menu')">⬅</div>
        <h1 class="title">SERVIÇOS</h1>
        <div class="logo">
            <img src="../static/LogoPETCARE.png" alt="Logo PetCare">
            <h2>PETCARE</h2>
        </div>
        <p style="font-size:28px;">O que deseja?</p>
        <div class="options">
            <div class="btn" onclick="goTo('estetica')"><span>Estética</span></div>
            <div class="btn" onclick="goTo('saude')"><span>Saúde</span></div>
        </div>
    </section>

    <section id="estetica">
        <div class="back" onclick="goTo('servicoMenu')">⬅</div>
        <h1 class="title">ESTÉTICA</h1>
        <p style="font-size:28px;">O que deseja?</p>
        <div class="options">
            <div class="btn" onclick="goTo('cpf')"><span>Banho</span></div>
            <div class="btn" onclick="goTo('cpf')"><span>Tosa</span></div>
        </div>
    </section>

    <section id="saude">
        <div class="back" onclick="goTo('servicoMenu')">⬅</div>
        <h1 class="title">SAÚDE</h1>
        <p style="font-size:28px;">O que deseja?</p>
        <div class="options">
            <div class="btn" onclick="goTo('cpf')"><span>Consulta</span></div>
            <div class="btn" onclick="goTo('cpf')"><span>Vacinação</span></div>
        </div>
    </section>

    <section id="cpf">
        <div class="back" onclick="goTo('servicoMenu')">⬅</div>
        <h1 class="title">CPF</h1>
        <input class="input" placeholder="Insira o CPF do cliente" maxlength="14">
        <div class="btn-rect" onclick="goTo('pets')">Continuar</div>
        <p style="font-size:20px;">Dica: use 111.111.111-11 ou 222.222.222-22 para ver exemplos.</p>
    </section>

    <section id="pets">
        <div class="back" onclick="goTo('cpf')">⬅</div>
        <h1 class="title">PETS</h1>
        <p style="font-size:28px;">Selecione o pet que irá realizar o serviço:</p>
        <div class="options">
            </div>
    </section>

    <section id="especialidades">
        <div class="back" onclick="goTo('pets')">⬅</div>
        <h1 class="title">CONSULTA</h1>
        <p style="font-size:28px;">Selecione o veterinário especialista:</p>
        <div class="options">
            <div class="btn"><span>Consulta Geral</span></div>
            <div class="btn"><span>Vet Infectologista</span></div>
            <div class="btn"><span>Vet Dermatologista</span></div>
            <div class="btn"><span>Vet Oncologista</span></div>
        </div>
    </section>

    <section id="vacinas">
        <div class="back" onclick="goTo('pets')">⬅</div>
        <h1 class="title">VACINAÇÃO</h1>
        <p style="font-size:28px;">Selecione a vacina:</p>
        <div class="options">
            <div class="btn"><span>Raiva</span></div>
            <div class="btn"><span>Leishmaniose</span></div>
            <div class="btn"><span>FIV</span></div>
            <div class="btn"><span>Multi</span></div>
        </div>
    </section>

    <section id="resumo">
        <div class="back" onclick="goTo('servicoMenu')">⬅</div>
        <h1 class="title">RESUMO</h1>
        <div class="logo">
             <img src="../static/LogoPETCARE.png" alt="Logo PetCare">
            <h2>PETCARE</h2>
        </div>
        <p style="font-size:28px;">Resumo do pedido:</p>
        <ul style="font-size:24px; list-style:none;">
            <li><b>Nome do Pet:</b> <span id="resumoPet">—</span></li>
            <li><b>Nome do Serviço:</b> <span id="resumoServico">—</span></li>
            <li><b>Valor:</b> <span id="resumoValor">—</span></li>
        </ul>
        <div class="btn-rect">Confirmar e adicionar outro serviço</div>
        <div class="btn-rect">Confirmar e ir para nota fiscal</div>
    </section>

    <section id="nota">
        <div class="back" onclick="goTo('menu')">⬅</div>
        <div class="header">
             <img src="../static/LogoPETCARE.png" alt="Logo PetCare">
            <h1>Emissão de Nota</h1>
        </div>
        <div class="nota-container">
            <div class="nota" id="notaFiscal">
                <h2>PetCare Brasil Comercial</h2>
                <p>CNPJ - 00.000.000/0000-00</p>
                <h3>Nota Fiscal Eletrônica</h3>
                <hr>
                <table class="tabela">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Qtd</th>
                            <th>Valor Un</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-servicos">
                        </tbody>
                </table>
                <hr>
                <p><strong>Qtd total de itens:</strong> <span id="qtdTotal"></span></p>
                <p><strong>Valor total:</strong> R$ <span id="valorTotal"></span></p>
                <hr>
                <p><strong>Consumidor - CPF:</strong> <span id="cpf-nota"></span></p>
                <p><strong>Data:</strong> <span id="data-nota"></span></p>
                <p><strong>ID da Nota:</strong> <span id="idNota"></span></p>
            </div>
            <button class="btn imprimir">Imprimir</button>
        </div>
    </section>

    <script src="../static/script.js"></script>
</body>
</html>
